{% extends 'layout/base.twig' %}

{% block conteudo %}
    <div class="jumbotron">
        <br />

        <h2>Erro!</h2>

        <br />
        <img src="/assets/img/error.png" width="90" />

        <br /><br />
        <p><b>Mensagem:</b> {{erro}} </p>
    </div>
    <hr>
{% endblock %}
