{% extends 'layout/base.twig' %}

{% block conteudo %}
    <div class="jumbotron">
        <h1>Sobre</h1>
    </div>
    <hr />

    <div class="row-fluid text-center">
        <p><img src="/assets/img/logo-unisal.png" style="height: 150px;"></p>
        <br />
        <p>Minicurso de PHP com MongoDB - XI Semana da Computação UNISAL 2015.</p>
    </div>
    <hr />
{% endblock %}